# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# vc
*.user
*.ncb
*.ilk
*.obj
*.pdb
*.suo
*.exe
*.htm
*.idb
*.manifest
*.res
*.dep
*.user
*.pch
*.plg
*.opt
Debug
Release